<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
    </ul>
  </nav>

<div class="filter">
    <label for="filter">Search borrows by keywords</label>
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text"  name="filterString" [(ngModel)]="filterString" placeholder="Search">
        </div>
        </form>
</div>

  <div class="container">
    <h2>Borrows List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User email</th>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Borrow Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let borrow of borrows | filter: filterString | paginate: {
                                                                     itemsPerPage: size,
                                                                     currentPage: page, 
                                                                     totalItems: totalElements}">
                <td>{{borrow.plainUserDto.email}}</td>
                <td>{{borrow.plainBookDto.title}}</td>
                <td>{{borrow.plainBookDto.author.firstName}} {{borrow.plainBookDto.author.lastName}}</td>
                <td>{{borrow.borrowDate}}</td>
                <td>{{borrow.returnDate}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>

