<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <h2>Borrows List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User email</th>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Borrow Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let borrow of borrows">
                <td>{{borrow.plainUserDto.email}}</td>
                <td>{{borrow.plainBookDto.title}}</td>
                <td>{{borrow.plainBookDto.author.firstName}} {{borrow.plainBookDto.author.lastName}}</td>
                <td>{{borrow.borrowDate}}</td>
                <td>{{borrow.returnDate}}</td>
            </tr>
        </tbody>
    </table>
</div>

