nav {
    margin-bottom: 15px;
}

.nav-bar-nav {
    padding: 10px;
}

.nav-item {
    font-size: 20px;
    margin: 5px;
}

li .nav-link {
    color: white;
    font-weight: 600;
}

.btn-danger {
    margin-left: 10px;
}

.user-email-form {
    display: flex;
    margin: 15px;
    padding: 10px;
    justify-content: space-between;
    width: 80%;
}

.user-email-form label{
    margin-right: 5px;
}


