<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/add-book" routerActive="active" class="nav-link">Add Book</a>
      </li>
    </ul>
  </nav>
  
  <h1 class="text-center">{{ title }}</h1>

  <div class="container">
    <h2>Books List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.title}}</td>
                <td>{{ book.author.firstName }} {{ book.author.lastName }}</td>
                <td>{{book.category}}</td>
                <td>
                    <button (click)="updateBook(book.isbn)" class="btn btn-info">Update</button>
                    <button (click)="borrow(book.isbn)" class="btn btn-danger">Borrow</button>
                    <form *ngIf="isBookSelected && book.isbn === selectedBookId" class="user-email-form"
                        (ngSubmit)="submitEmail()">
                        <div class="form-group">
                            <label for="userEmail">User Email</label>
                            <input type="text" id="userEmail"
                            [(ngModel)]="userEmail" name="userEmail">
                        </div>
                        <button class="btn btn-success" type="submit">Submit</button>
                        <button type="button" class="btn btn-danger" (click)="closeEmailForm()">Close</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
