.form-control {
    margin: 10px 0;
}

.btn {
    margin: 10px 0;
}

nav {
    margin-bottom: 35px;
}

.nav-bar-nav {
    padding: 10px;
}

.nav-item {
    font-size: 20px;
    margin: 5px;
}

li .nav-link {
    color: white;
    font-weight: 600;
}

.nav-item:hover {
    cursor: pointer;
}
